@font-face
  font-family 'Noteworthy'
  font-style normal
  font-weight normal
  src: local('Noteworthy Light'), url('assets/fonts/Noteworthy-Lt.woff') format('woff')

body
  margin 0
  font-family Overpass
  line-height 1.15
  -webkit-overflow-scrolling touch
